 

    .totop {
        position: fixed;
        top: 90%;
		right:10px;
        text-align: center;
        cursor: pointer;
        display: none;
        background: #a05b7e;
        color: #fff;
        border-radius: 25px;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        font-size: 18px;
    }
	